
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Shadows+Into+Light&display=swap');


@import "tailwindcss";

*{
   font-family: Encode Sans;
}

.html{
   scroll-behavior: smooth;
}

h2{
   width: 100% !important;
   display: block;
   font-size: 50px;
   line-height: 60px;
   margin-bottom: 20px;
   font-weight: 100;
   cursor: pointer;
   margin-top: 30px;
}

h3{
   font-weight: bold;
   font-size: 20px;
}

p{
   font-size: 20px;
   line-height: 30px;
}

.footerDiv p{
   width:100%;
   background-color:black;
   color: white;
   text-align: center;
   font-size: 15px;
}